* {
  font-family: sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.work {
  background: #93deff;
  margin: auto;
  padding: 50px 50px 50px 10px;
}

body {
  background-color: #323643 !important;
  margin: auto;
}

h2 {
  text-align: center;
}

.col-sm-3 {
  color: #ffff;
}

/* NAVBAR */

.navbar {
  background-color: #323643 !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  background-color: #323643;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-nav {
  width: 90%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-sm-8 {
  text-align: center !important;
  display: inline !important;
  width: 100%;
}

.jumbotron {
  margin: auto;
}

.profile-image {
  border: 30px solid #93deff !important;
  border-radius: 50px !important;
}

.skills {
  text-align: center;
  background-color: #323643;
  color: #fff;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.contact {
  text-align: center;
  background-color: #323643;
  color: #fff;
  position: relative !important;
  padding: 10px 10px 10px 10px;
}

button {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  background-color: #000 !important;
  border: 3px solid #000 !important;
  color: #fff !important;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none !important;
  transition: all 200ms ease;
}

.spacer {
  margin-bottom: 300px; /* how high is your footer */
  visibility: hidden;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background: #f7f7f7;
  color: #000;
  text-align: center;
  padding: 30px 100px 5px;
}
